<div class="card">
<div class="avatar"><img src={{avatar}} alt={{name}}></div>
<div class="text">
    <h3>{{name}}</h3>
    <p><strong>Mobile: +</strong>{{phone}}</p>
    <p><strong>{{company}}</strong></p>
    <p>{{address}}//</p>
    <p><strong>Car:</strong> {{car}}</p>
</div>
</div>


<style>
    .card {
        display: flex;
        background-image: url('https://previews.123rf.com/images/dmitriyrazinkov/dmitriyrazinkov1711/dmitriyrazinkov171100015/89437589-3d-abstract-background-network-concept-future-background-technology-illustration-3d-landscape-big-da.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        padding: 14px;
        max-width: fit-content;
    }
    .avatar {
        padding-right: 2rem;
    }
    .avatar img {
        margin-top: 1.4rem;
    }
    .text {
        color: rgb(255, 255, 255);
    }


    .text p {
        font-size: 14px;
    }
    .text h3 {
        margin-top: 5px;
        text-align: center;
    }
</style>